@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

:root {
    --primary-color: #b6fffa;
    --secondary-color: #98e4ff;
    --tertiary-color: #80b3ff;
    --quaternary-color: #687eff;
    --paper-color: #fff;
    --font-color: #333;
}

[data-theme="dark"] {
    --primary-color: #001f3f;
    --secondary-color: #003366;
    --tertiary-color: #004080;
    --quaternary-color: #00509e;
    --paper-color: #040f1a;
    --font-color: #eee;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: Gabarito, sans-serif;
    background-color: var(--secondary-color);
    color: var(--font-color);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0px 20px;
    text-align: justify;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    padding: 20px;
}

main {
    padding: 20px;
    flex: 1;
}

#content {
    display: block;
    gap: 40px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    gap: 12px;
}

.search-container {
    width: 100%;
    max-width: 600px;
    display: flex;
}

.main-input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color: var(--paper-color);;
    color: var(--font-color);;
}

.search-input {
    flex: 1;
    margin-right: 5px;
}

.main-button {
    background-color: var(--quaternary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.small-button {
    padding: 8px 10px;
    font-size: 0.8rem;
}

.main-button:hover {
    background-color: var(--tertiary-color);
}

.main-button:disabled {
    background-color: var(--tertiary-color);
    cursor: not-allowed;
}

.radio-button {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-right: 5px;
}

.radio-button input {
    display: none;
}

.radio-button.active {
    background-color: var(--quaternary-color);
    color: #fff;
}

.radio-button:hover {
    background-color: var(--tertiary-color);
}

.type-section {
    flex: 1;
    background-color: var(--paper-color);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: justify;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.type-section > h2 {
    color: var(--font-color);
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.note-card {
    border-radius: 4px;
    border: solid 1px #333;
    padding: 10px;
    margin: 10px 0;
    flex-basis: calc(33% - 30px);
}

.note-card > h3 {
    margin: 8px 0 4px 0;
}

.card {
    border-radius: 4px;
    border: solid 1px #333;
    padding: 10px;
    margin: 10px 0;
    flex-basis: calc(50% - 30px);
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .top-container {
        flex-direction: column;
    }
    .note-list {
        flex-direction: column;
    }
    .note-card {
        flex: 100%;
    }
}

.spinner {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.note-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--paper-color);
    padding: 20px;
}

.note-form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.text-gray {
    color: #888;
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-tertiary {
    color: var(--tertiary-color);
}

.text-quaternary {
    color: var(--quaternary-color);
}

.text-red {
    color: #f00;
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-tertiary {
    background-color: var(--tertiary-color);
}

.bg-quaternary {
    background-color: var(--quaternary-color);
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-10 {
    margin-top: 10rem;
}

.mr-05 {
    margin-right: 0.5rem;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.max-w-600 {
    max-width: 600px;
}

.w-100 {
    width: 100%;
}

.float-right {
    float: right;
}

.p-0 {
    padding: 0;
}
.p-05 {
    padding: 0.5rem;
}
.p-025 {
    padding: 0.25rem;
}

.text-main-color {
    color: var(--font-color);
}
